.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
  width: 100%;
}

.formItem {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
  flex: 1;
  min-width: 400px !important;
}

.formLabel {
  width: 40%;
  font-size: 16px !important;
  color: rgb(47, 47, 47);
  font-weight: 600 !important;
}

.formInput {
  width: 60%;
  border-radius: 6px;
  color: rgb(44, 44, 44);
}

.formCheckbox {
  padding: 0px !important;
}

.formInput:focus {
  border: none !important;
}

.addButton {
  background-color: #F0A46F;
  width: 12vw;
  height: 6vh;
  border-radius: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: white;
}

.addButton:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg,
      #E34139 0%,
      #F0A46F 20%,
      #EAD8C4 40%,
      #EEEEEE 60%,
      #FFF3E0 80%,
      transparent 100%);
  z-index: -1;
  overflow: hidden;
  color: black;
}

.addButton,
.addButton:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

.addButton:hover {
  background-color: #E34139;
}

.addButton:hover,
.addButton:hover:after {
  background-position: 0;
  font-size: 1.1em;
}

.dropzone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #F0A46F;
  border-style: dashed;
  background-color: #FFF3E0;
  font-weight: 600;
  color: #3e3e40;
  outline: none;
  transition: border 0.24s ease-in-out;
  height: 100px;
  justify-content: center;
  font-size: 12px;
}

.dropzone:focus {
  border-color: #E34139;
}


@media screen and (min-width: 355px) and (max-width: 545px) {
  .formItem {
    width: 100%;
    min-width: 200px !important;
  }

  .dropzone {
    padding: 10px;
    font-size: 10px;
    max-width: 60%;
  }
}

@media screen and (max-width: 355px) {
  .formItem {
    width: 100%;
    min-width: 100px !important;
  }

  .dropzone {
    padding: 6px;
    font-size: 8px;
    max-width: 60%;
  }
}