.form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px;
  align-items: flex-end;
  width: 100%;
}

.formItem {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
}

.formLabel {
  width: 34%;
  font-size: 16px !important;
  color: var(--textColor);
  font-weight: 600 !important;
}

.formInput {
  max-width: 20vw !important;
  width: 94%;
  border-radius: 6px;
  color: rgb(44, 44, 44);
}

.formCheckbox {
  padding: 0px !important;
}

.formInput:focus {
  border: none !important;
}

.addButton {
  background-color: #089914;
  width: 12vw;
  height: 6vh;
  border-radius: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: white;
}

.addButton:after {
  content: "";
  position: absolute;
  inset: 0;
  background:var(--addMovie);
  z-index: -1;
  overflow: hidden;
  color: black;
}

.addButton,
.addButton:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s, font-size 0.2s;
}

.addButton:hover,
.addButton:hover:after {
  background-position: 0;
  font-size: 1.1em;
}

.errorMessage {
  margin-bottom: 0px !important;
  font-size: 14px !important;
}
